.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.cards {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  list-style: none;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 51px 0 0;
  margin: 0;
}

.card__image {
  height: 282px;
  width: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  border: none;
  height: 21px;
  width: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.6;
}
