.footer {
  max-width: 880px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer__copyright {
  max-width: 318px;
  display: flex;
  justify-content: start;
  margin: 0;
  padding: 67px 0 60px;
  color: #545454;
}

@media screen and (max-width: 920px) {
  .footer__copyright {
    max-width: 282px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
