@media screen and (max-width: 775px) {
  .header__image {
    width: 126px;
    height: 24px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    max-width: 196px;
  }

  .profile__info {
    align-items: center;
  }

  .profile__description {
    font-size: 14px;
    line-height: 16.94px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__add-button {
    margin-left: 20px;
    width: 65px;
  }
}
