@media screen and (max-width: 480px) {
  .page__content {
    margin: 28px 19px 0;
  }

  .header.page__section {
    margin: 0;
    padding: 0;
  }

  .header__image {
    padding-bottom: 32px;
    margin: 0;
  }

  .profile {
    background-color: black;
    flex-direction: column;
  }

  .profile__image {
    margin: 0;
  }

  .profile__edit-button {
    margin: 4px 0px 10px 10px;
  }

  .profile__title {
    display: flex;
    align-items: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
  }

  .profile__add-button {
    margin: 0;
    width: 282px;
  }

  .card__list {
    padding-top: 36px;
  }
}
